<div class="buttons">
    <button routerLink="/consulta-produto" class="btn btn-primary">Produtos</button>
    <button routerLink="/tela-vendas" class="btn btn-primary">Tela de Vendas</button>
    <button routerLink="/cadastro-cliente" class="btn btn-primary">Clientes</button>
    <button routerLink="/cadastro-fornecedor" class="btn btn-primary">Fornecedores</button>
    <button routerLink="/relatorio-vendas" class="btn btn-primary">Relatório de Vendas</button>
</div>

<router-outlet></router-outlet>